<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA43H5DdMkMdozE24Uiosdc9h7e_RlRi2g</string>
	<key>GCM_SENDER_ID</key>
	<string>630727734702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alanperdomo.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-4df20</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-4df20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630727734702:ios:232c36651c4857911b443f</string>
</dict>
</plist>